{% extends 'base.html' %}
{% load bootstrap4 %}

{% block content %}
<style>
body{
  font-family: 'Titillium Web', sans-serif;
}
</style>
<div class="container" style="margin-top:10%;"></div>
<!-- Intro Dashboard -->
{% if user.nmtaa == null and request.user.id != 1 %}

  <h3 style="text-align:center" class="center-align">Where are you from</h3>
  <div class="row"></div>
    {% for mtaa in mtaas %}

      <a style="text-align:center" href="{% url 'mtaa' mtaa.id %}" class="nav-link" >{{mtaa.mtaa_name}} <i class="fas fa-city"></i></a><hr>

    </div>
    {% endfor %}

</div>
{% endif %}
{% endblock %}