{%extends "registration/base.html"%}
{% load bootstrap4 %}
{% block content %}
<style>
    li {
        display: none;
    }

    .form-text {
        display: none;
    }
</style>
<body>
    <div id="login-overlay" class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">

                <h4 class="modal-title" id="myModalLabel">Mtaa</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="well">
                            <form action="/accounts/register/" method="post">
                                {% csrf_token %}
                                {% bootstrap_form form %}
                                <div class="form-group">
                                    {% block button%}
                                    <button type="submit" class="btn btn-info">Sign Up</button>
                                    {% endblock %}
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
{% endblock %}